.layout {
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container textarea {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  gap: 10px;
}

.scrollable {
  overflow: auto;
}

.grow {
  flex: 1;
}

.raw-html {
  white-space: pre-wrap
}

.header {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #DBF9F4;
  border-bottom: 1px solid #B07BAC;
  padding: 5px;
  padding-block-end: 10px;
  padding-block-start: 10px;
}

.header .title {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}

.links a + a {
  margin-inline-start: 5px;
  padding-inline-start: 5px;
  border-left: 1px solid #999;
}

.toolbar {
  align-items: center;
  background-color: #FBF9FF;
  padding: 5px;
  margin-block-end: 10px;
}

.toolbar input + label {
  margin-inline-start: -8px;
}

.markdown {
  padding: 10px;
}